
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
*{
  box-sizing: border-box;
	outline: none;
}
ol, ul {
	list-style: none;
}
a{
  text-decoration: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
@font-face {
  font-family: reg;
  src: url(../fonts/NotoSansHebrewCondensed.ttf);
}
@font-face {
  font-family: bol;
  src: url(../fonts/NotoSansHebrew-CondensedBold.ttf);
}
@font-face {
  font-family: med;
  src: url(sansation_light.woff);
}
@font-face {
  font-family: light;
  src: url(sansation_light.woff);
}

body{
  overflow-x: hidden;
  font-family: 'reg';
  padding-top: 80px;
}
#wrapper{
  overflow-x: hidden;
}
nav{
  width: 100%;
  height: 80px;
  background: black;
  direction: rtl;
  position: fixed;
  top: 0px;
  z-index: 1000000000;

}
.nav_wrapper{

  margin: auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
}
.mobile_navbar{
  display:none;
}
.nav_wrapper ul{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
    width:250px;
    margin-right: 100px;
}
.nav_wrapper ul li{
  list-style-type: none;
color: white;
cursor: pointer;
font-size: 22px;
}
.nav_wrapper ul li a{
  color: white;
  font-size: 22px;
}
.about_text {
  direction: rtl;
  text-align: center;
  margin-top: 100px;
}
.about_text span{
  display: inline;;
}
.about_text h1{
  text-align: center;
  color: red;
  font-size: 50px;
  font-family: 'bol';
  position: relative;
  margin-bottom: 80px;
}
.about_text h2{
  width: 800px;
  margin: auto;
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 20px;
	line-height: normal;
}
.about_text h1::after{
  position: absolute;
  bottom: -10px;
  width: 100px;
  height: 5px;
  background: red;
  content: '';
  left: 50%;
  transform: translate(-50%);
}
.head_slider{
  height: 600px;
  position: relative;

}
.head_slider .slick-dots{
  bottom: 30px;
}
.head_slider img{
  width: 100%;
  height: 600px;
  object-fit: cover;
}
.head_slider p{
  position: absolute;
  color: white;
  width: 200px;
  font-size: 35px;
  top: 30px;
  left: 30px;
  text-align: center;;
}
#work_gallery{
  height: auto;
  padding-top: 80px;
padding-bottom: 80px;
position: relative;

}
#work_gallery h1{
  text-align: center;
  color: red;
  font-size: 50px;
  font-family: 'bol';
  position: relative;


}
#work_gallery h1::after{
  position: absolute;
  bottom: -10px;
  width: 100px;
  height: 5px;
  background: red;
  content: '';
  left: 50%;
  transform: translate(-50%);
}

.works_flex{
  display: flex;
  justify-content: space-between;
  width: 1150px;
  margin: auto;
  flex-wrap: wrap;
  margin-top: 100px;


}
.hidden_category_box{
	display: none;
justify-content: center;
width: 1200px;
margin-top: 130px!important;
}
.hidden_category_box .gallery_element{
	margin-left: 10px;
	margin-right: 10px;


}
.desktop_slider_btn_bottom{
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0px;
	top: 0px;
	z-index: 1000;
	background: rgba(0, 0, 0, 0.1)!important;

}
.desktop_slider_btn{
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0px;
	top: 0px;
	z-index: 1000;

}
.category_select{
	width: 300px;
	height: 50px;
	border: 3px solid red;
	color: red;
	font-size: 22px;
display: none;
background: white;
border-radius: 10px;
outline: none;
position: absolute;
left: 50%;
transform: translate(-50%);
top: 170px;
cursor: pointer;
	transition: 0.3s;
}
.category_select:hover{
	background: red;
	color: white;
	transition: 0.3s;
}
.fixed_button{
	position: fixed;
	top: 90px;
	z-index: 10000000;

}
 .gallery_element{
  width: 370px;
  height: 330px;
  margin-bottom: 30px;
  direction: rtl;
  padding:20px;
  position: relative;
  color: white;
  cursor: pointer;
}
.desktop_slider_btn{
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 100;

}
.mobile_slider_btn{
  display: none;
}
.hidden_gallery_text{
  opacity: 0;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  top: 0px;
  height: 100%;
  width: 100%;
  color: white;
  background: rgba(0,0,0, 0.6);
  font-family: 'bol';
  z-index: 10;
  padding-top: 80px;
  padding-left: 40px;
  padding-right: 20px;
   transition: 0.3s;
   line-height: normal;
   font-size: 22px;

}
 .gallery_element:hover > .hidden_gallery_text{
   opacity: 1;
   transition: 0.3s;

 }

 .gallery_element h3{
   position: absolute;
   z-index: 2000;
   font-size: 30px;
   font-family: 'bol';
	width: 100%;
	background: rgba(0,0,0, 0.2);
	height: 60px;
	right: 0px;
	top: 0px;
	padding-top: 10px;
	padding-right: 20px;


 }

 .gallery_element figure{
   position: absolute;
   width: 100%;
   height: 100%;
   top: 0px;
   left: 0px;
 }
  .gallery_element figure img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
	.exit_slider_btn{
		position: fixed;
		top: 100px;
		right: 40px;
		background: url('../images/access-denied.svg');
		background-repeat: no-repeat;
		background-size: contain;
		width: 40px;
		height: 40px;
		display: none;
		border: none;
	}
.hidden_sliders{
  position: fixed;
  width: 100%;
  height: 100%;

  background: rgba(0,0,0, 0.65);
  left: 50%;
  top: 50%;
  display: none;
  transform: translate(-50%, -50%);
	z-index: 9999999999;
}
.sliders{
cursor: pointer;
  width: 900px;
  height: 600px;
display: none;
position: absolute;
left: 50%;
top: 50%;
transform: translate(-50%, -48%);
transition: 0.4;


}
.sliders img, .sliders video{
  object-fit: cover;
  width: 900px;
  height: 600px;
}

.show_slider{
display: block;
animation: show 0.6s linear forwards;
}

#contact{
  height: 300px;
  background: black;
  text-align: center;
  padding-top: 50px;
  color: white;
}
#contact a{
  color: white;
}
#contact  h1{
  font-size: 55px;
  margin-bottom: 40px;
}
#contact  span{
  display:flex;
  justify-content: center;
  width: 400px;

  font-size: 30px;
  position: relative;
  margin: auto;
    margin-top: 10px;
    display: flex;
    align-items: center;
}

#contact  .phoneNumber img{


  object-fit: contain;
  width: 30px;
  height: 30px;
  margin-right: 20px;
}
#contact  .phoneNumber a{
  display: flex;
  align-items: center;
}
#contact  .emailAddress a{
  display: flex;
  align-items: center;
}
#contact  .emailAddress img{
  object-fit: contain;
  width: 30px;
  height: 30px;
  margin-right: 20px;

}

#nav-icon1, #nav-icon2, #nav-icon3, #nav-icon4 {
  width: 70px;
  height: 45px;
  position: absolute;
  left: 20px;
  top: 20px;
  -webkit-transform: rotate(0deg) scale(0.7);
  -moz-transform: rotate(0deg) scale(0.7);
  -o-transform: rotate(0deg) scale(0.7);
  transform: rotate(0deg) scale(0.7);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
  z-index: 200000000000;
}

#nav-icon1 span, #nav-icon3 span, #nav-icon4 span {
  display: block;
  position: absolute;
  height: 7px;
  width: 100%;
  background: white;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}
#nav-icon3 span:nth-child(1) {
  top: 0px;
}

#nav-icon3 span:nth-child(2),#nav-icon3 span:nth-child(3) {
  top: 18px;
}

#nav-icon3 span:nth-child(4) {
  top: 36px;
}

#nav-icon3.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}

#nav-icon3.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#nav-icon3.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#nav-icon3.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}

.slick-track,
.slick-list,
.slick-slide  {
-webkit-perspective: 2000!important;
-webkit-backface-visibility: hidden!important;


}
@media only screen and (max-width: 1250px){
  .works_flex{
    width: 1000px;

  }
  .gallery_element{
    width: 320px;
    height: 250px;
  }
  .hidden_gallery_text{
    font-size: 18px;
    padding-top: 60px;
  }
	.sliders{
		width:700px;
		height: 450px;
	}
	.sliders img{
		width:700px;
		height: 450px;
	}
}
@media only screen and (max-width: 1050px){
  .gallery_element{
    width: 370px;
    height: 330px;
    margin-left: 20px;
    margin-right: 20px;
  }
  .hidden_gallery_text{
    font-size: 22px;
    padding-top: 80px;
  }
  .works_flex{
    width: 100%;
    justify-content: center;

  }
  .nav_wrapper ul{

      margin-right: 50px;
  }
}
@media only screen and (max-width: 850px) {
    .head_slider{
      height: 450px;
    }
  .head_slider img{

    height: 450px;

  }
  .about_text h2{
    width: 90%;
  }
  #contact h1{
    font-size: 40px;
  }
  #contact span{
  font-size: 25px;
  }
  .sliders{

    width: 500px;
    height: 400px;


  }
  .sliders img{

    width: 500px;
    height: 400px;
  }
}
@media only screen and (max-width: 650px) {
    .head_slider{
      height: 300px;
    }
  .head_slider img{

    height: 300px;

  }
  .sliders{

    width: 95%;
    height: 75vw;


  }
  .sliders img{

    width: 100%;
    height: 75vw;
  }
    .hidden_sliders .slick-prev, .hidden_sliders .slick-next{
      display: none!important;
    }
    .nav_wrapper{
      display: none;
    }
    .mobile_navbar{
      display: block;
      height: 100%;
    }
    .mobile_menu{
      position: fixed;
      height: 100vh;
      z-index: 10000;
      background: black;
      left: 0px;
      width: 100%;
      transform: scaleY(0);
      transition: 0.3s;
        transform-origin: top;
    }
      .mobile_menu ul{
        width: 100%;
        position: relative;
      top: 50%;
      transform: translate(0, -50%);
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      .mobile_menu ul li{
        color: white;
        font-size: 28px;
        margin-bottom: 25px;
        cursor: pointer;
      }
        .mobile_menu ul li a{
          color: white;
        }
    .opend_menu{
      transition: 0.3s;
      transform: scaleY(1);
      transform-origin: top;
}






@media only screen and (min-width: 550px){
	.slick-track,
	.slick-list,
	.slick-slide  {
	-webkit-perspective: 2000!important;
	-webkit-backface-visibility: hidden!important;
	-webkit-transform: translate3d(0, 0, 0)!important;
	transform: translate3d(0, 0, 0)!important;
	-webkit-transition-delay: 10ms!important;
			transition-delay: 10ms!important;
	}
}

@media only screen and (max-width: 550px){
  .desktop_slider_btn{

  }
	.exit_slider_btn{
		display: block;
		z-index: 1000000;
	}

  .mobile_slider_btn{
    display: block;
    width: 200px;
    height: 60px;
    border-radius: 10px;
    background: rgba(0,0,0, 0.6);
		z-index: 100;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  letter-spacing: 1.4px;
  bottom: 30px;
  left: 50%;
  transform: translate(-50%);
	pointer-events: none;

  }
  .hidden_gallery_text{
    opacity: 0!important;
    background: rgba(0,0,0, 0.15);
    padding-top: 60px;
  }
  .head_slider p{
    font-size: 30px;
    left: 20px;
    top: 20px;
  }
}
@media only screen and (max-width: 450px){
  .gallery_element{
    width: 350px;
    height: 300px;
    margin-left: 0px;
    margin-right: 0px;
  }
  #contact span{
    width: 300px;
  }
  #contact .phoneNumber::after{
    left: 40px;
  }

}


@media only screen and (max-width: 360px){
  .gallery_element{
    width: 300px;
    height: 300px;
    margin-left: 0px;
    margin-right: 0px;
  }
  .hidden_gallery_text{
    font-size: 18px;
  }
  #contact h1{
    font-size: 35px;
  }
}
